* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
    background: linear-gradient(120deg, #000000, #1c1c1c);
    color: #e6e6e6;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    padding: 30px;
}

header {
    background-color: #444;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

h1 {
    color: #ff4500;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

h2 {
    color: #ff6347;
    font-size: 1.5rem;
    margin-top: 10px;
}

.intro {
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
}

.hidden {
    display: none;
}

h3 {
    color: #adff2f;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 10px;
    list-style-type: circle;
}

.cuidado-capilar {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.skibidi-toilet {
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background-color: #444;
    border-radius: 0 0 10px 10px;
}

.img-martin, .img-skibidi, .img-feliz {
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.5s;
}

.img-martin:hover, .img-skibidi:hover, .img-feliz:hover {
    transform: scale(1.1);
}

#google-gif {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    transition: opacity 1s;
}

#google-gif.show {
    opacity: 1;
}

#gif-container {
    position: relative;
    height: auto; /* Cambiar a auto para permitir scroll */
    overflow: hidden;
}

.gif-container {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.gif {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


